.selection-main {
  cursor: pointer;
  padding: 4;
}

.selection-header {
  display: block;
}

.selection-list {
  display: none;
  width: 8rem;
  background-color: white;
}


.selection-main:hover .selection-header {
  display: none;
}

.selection-main:hover .selection-list {
  display: block;
}

.message-input-container{
  width: 100%;
  /* height: 2rem; */
  overflow: hidden;
}

.message-input{
  min-width: 10rem;
  max-width: 50rem;
  background-color: white;
  border-radius: 10px;
}


.message-input::-webkit-scrollbar{
  display:none;
}

.message-input:hover{
  outline-color: white;
}

.message-button-plus:active{
  background-color: transparent;
}

.message-button-send:active{
  background-color: transparent;
}

.message > .message-button-plus :focus  {
  color: green
}